* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Droid Sans Mono, monospace;
}

body {
  /* background: #25292f; */
  background: #282c34;
}

.control-btn {
  appearance: none;
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ram-web {
  height: 100vh;
  opacity: 1;
}

header {
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25292f;
  border-bottom: 1px solid #72767f5c;
  padding: 0 1em;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-bottom: 2px solid transparent;
}

.controls:hover,
a:hover {
  border-bottom: 2px solid #5ab1bd;
}

.logo {
  width: 8%;
  height: auto;
  display: inline-block;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 1em 1em 0.9em 1em;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  /* height: 80%; */
  padding: 5px;
  /* margin-left: 1.5em; */
  background-color: #2c3038;
  border-radius: 10px;
  border: 2px solid transparent;
}

.help {
  transform: translateX(-1.5em);
}

.help button.about-us {
  appearance: none;
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  color: inherit;
  margin-right: 1em;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  font-family: Droid Sans Mono, monospace;
}


.compile-btn {
  width: 15px;
  height: 15px;
  background: url("assets/start.png") center / 100% no-repeat;
}

.compile-btn:hover {
  cursor: pointer;
}

.pause-btn {
  width: 21px;
  height: 17px;
  background: url("assets/pause.png") center / 100% no-repeat;
}

.pause-btn:hover {
  cursor: pointer;
}

.stop-btn {
  width: 24px;
  height: 23px;
  background: url("assets/stop.png") center / 100% no-repeat;
}

.stop-btn:hover {
  cursor: pointer;
}

.debug-btn {
  width: 18px;
  height: 18px;
  background: url("assets/debug.png") center / 100% no-repeat;
}

.debug-btn:hover {
  cursor: pointer;
}

.diskette-btn {
  width: 18px;
  height: 18px;
  background: url("assets/diskette.png") center / 100% no-repeat;
}

.diskette-btn:hover {
  cursor: pointer;
}

.interface {
  height: 70%;
}

.input-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 5px;
}

.editor-registers {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.editor-container {
  width: 80%;
  height: 100%;
}

.editor {
  height: 100%;
}

.registers-container {
  width: 20%;
  overflow-y: scroll;
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  background-color: #25292f;
  border-top: 5px solid #2f333d;
  border-left: 1px solid #72767f5c;
}

.register {
  display: flex;
  align-items: center;
  height: 2em;
  // font-size: 18px;
  border-bottom: 1px solid #72767f5c;
}

.register-num {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  // font-size: 14px;
  text-align: center;
  color: #72767fbe;
  background-color: #2c3038;
  border-right: 1px solid #72767f5c;
}

.register-num p {
  margin: auto;
}

.acc {
  background-color: #2c3038;
}

.register-val {
  width: 90%;
  height: 100%;
  display: flex;
  color: #abb2bf;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.console-container {
  height: 22.3%;
  border-top: 1px solid #72767f5c;
  border-bottom: 1px solid #72767f5c;
  background-color: #282c34;
  font-size: 1.2rem;
  font-family: Droid Sans Mono, monospace;
}

.console-container .console-output {
  height: 80%;
  color: #ccc;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 5px;
  padding-left: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #72767f5c;
}

.console-container .console-input {
  height: 15%;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: left;
}

.input-marker {
  color: #5ab1bd;
  font-weight: 450;
  margin-left: 10px;
}

.input-values {
  margin-left: 1em;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-weight: 600;
  caret-color: #5ab1bd;
  font-size: 1em;
  font-family: Droid Sans Mono, monospace;
}

.input-values:focus {
  outline: none;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder::before {
  content: "Loading....";
  color: #ffffff;
  display: block;
}
