.line-numbers:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Ccircle cx='5' cy='5' r='4' fill='rgba(255, 0, 0, 60%)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 10px 10px;
}

.breakpoint {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3e%3ccircle cx='5' cy='5' r='4' fill='red'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 10px 10px;
    padding-left: 32px;
    left: 22px !important;
}

.syntax-error-line-highlight {
    background-color: rgba(255, 0, 0, 0.2);
}

.runtime-error-line-highlight {
    background-color: rgba(255, 100, 0, 0.2);
}

.debug-line-highlight {
    background-color: rgba(100, 255, 0, 0.2);
}

.error-glyph-margin::before {
    /* content: '⚠';
    color: red;
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 5px;
    padding-top: 2px; */
}

.monaco-editor .relative-current-line-number {
    width: 50% !important;
    /* override */
}