::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track  {
  background: #282c34;
  border-left: 1px solid #72767f5c;
}

::-webkit-scrollbar-thumb {
  background: #646464dc;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
