@media screen and (max-width: 767px) {
  * {
    display: none !important;
  }
}


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Droid Sans Mono, monospace;
}

body {
  /* background: #25292f; */
  background: #282c34;
}

.control-btn {
  appearance: none;
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ram-web {
  height: 100vh;
  opacity: 1;
}

header {
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25292f;
  border-bottom: 1px solid #72767f5c;
  padding: 0 1em;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-bottom: 2px solid transparent;
}

.controls:hover,
a:hover {
  border-bottom: 2px solid #5E81AC;
}

.header-left {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.logo {
  max-width: 7em;
  height: auto;
  display: inline-block;
  padding: 0.6em;
  margin: 0.2em;
  border-radius: 10px;
}

.logo img {
  max-width: 100%;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  background-color: #2c3038;
}

.code-author-container {
  display: flex;
  align-items: flex-start;
  width: 0.1em;
  font-size: 0.6rem;
  font-weight: 400;
  user-select: none;
  margin-top: 1.5em;
}

.code-author {
  color: #2E3440;
  background-color: #EBCB8B;
  border-radius: 100px;
  white-space: nowrap;
  padding: 0.5em;
}

.code-author-name {
  font-weight: 600;
  color: #2E3440;
}



.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  /* height: 80%; */
  padding: 5px;
  /* margin-left: 1.5em; */
  background-color: #2c3038;
  border-radius: 10px;
  border: 2px solid transparent;
}

.controls:active {
  border: none;
}

.help {
  transform: translateX(-1.5em);
}

.help button.about-us {
  appearance: none;
  background: none;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  color: inherit;
  margin-right: 1em;
  color: white;
  padding: 10px 15px;
  font-family: Droid Sans Mono, monospace;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: #2c3038;
  transition: 0.5s;
}

button.about-us:hover {
  cursor: pointer;
  background-color: #434C5E;
  border-radius: 10px;
}

button.about-us:active {
  background-color: #2c3038;
}

.control-btn div {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.control-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #434C5E;
  border-radius: 10px;
  padding: 7px;
}

.start-btn {
  background: url("assets/start.svg") center / 100% no-repeat;
}

.step-btn {
  background: url("assets/step.svg") center / 100% no-repeat;
}

.stop-btn {
  background: url("assets/stop.svg") center / 100% no-repeat;
}

.copy-btn {
  background: url("assets/copy.svg") center / 100% no-repeat;
}

.diskette-btn {
  width: 18px;
  height: 18px;
  background: url("assets/diskette.png") center / 100% no-repeat;
}

.diskette-btn:hover {
  cursor: pointer;
}

.interface {
  height: 70%;
}

.input-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 5px;
}

.editor-registers {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.editor-container {
  width: 80%;
  height: 100%;
}

.editor {
  height: 100%;
}

.registers-container {
  width: 20%;
  overflow-y: scroll;
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  background-color: #25292f;
  border-top: 5px solid #2f333d;
  border-left: 1px solid #72767f5c;
}

.register {
  display: flex;
  align-items: center;
  height: 2em;
  // font-size: 18px;
  border-bottom: 1px solid #72767f5c;
}

.register-num {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  // font-size: 14px;
  text-align: center;
  color: #72767fbe;
  background-color: #2c3038;
  border-right: 1px solid #72767f5c;
}

.register-num p {
  margin: auto;
}

.acc {
  background-color: #2c3038;
}

.register-val {
  width: 90%;
  height: 100%;
  display: flex;
  color: #abb2bf;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.console-container {
  height: 22.3%;
  border-top: 1px solid #72767f5c;
  border-bottom: 1px solid #72767f5c;
  background-color: #282c34;
  font-size: 1.2rem;
  font-family: Droid Sans Mono, monospace;
}

.console-container .console-output {
  height: 80%;
  color: #ccc;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 5px;
  padding-left: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #72767f5c;
}

.console-container .console-input {
  height: 15%;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: left;
}

.input-marker {
  color: #5ab1bd;
  font-weight: 450;
  margin-left: 10px;
}

.input-values {
  margin-left: 1em;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-weight: 600;
  caret-color: #5ab1bd;
  font-size: 1em;
  font-family: Droid Sans Mono, monospace;
}

.input-values:focus {
  outline: none;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder::before {
  content: "Loading....";
  color: #ffffff;
  display: block;
}